// @import "../_variable.scss";
@import "../../src/sass/variables.scss";
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	@media (min-width: $layout-breakpoint-md) {
		height: 100%;
	}
}

.job-list-card-wrapper {
	width: 100%;
	margin: 3rem 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 40px;

	justify-content: space-between;
	@media (min-width: $layout-breakpoint-md) {
		grid-template-columns: 49% 49%;
	}
	@media (min-width: $layout-breakpoint-lg) {
		grid-template-columns: 32.5% 32.5% 32.5%;
	}
}

.job-list-card-wrapper .job-card {
	max-height: 253px;
	height: 100%;
	background: $white;
	padding-left: 25px;
	border-radius: 6px;
	@media (min-width: $layout-breakpoint-md) {
		padding-left: 35px;
	}
}

.job-list-card-wrapper .job-card .job-logo {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 15px;
	margin-top: -25px;
	padding: 3px;
	background-color: inherit;
	border: 0.1px #f4f6f8 solid;
	@media (min-width: $layout-breakpoint-md) {
		width: 75px;
		height: 75px;
	}
	@media (min-width: $layout-breakpoint-lg) {
	}
}
.job-list-card-wrapper .job-card .created-at,
.company {
	height: 20px;
	font-family: Abel;
	font-style: normal;
	font-weight: lighter;
	font-size: 0.9rem;
	line-height: 20px;
	margin: 13px 0px;
	color: #6e8098;
	text-decoration: none;
	span {
		margin-right: 10px;
	}
	.job-type {
		margin-left: 5px;
	}
}

.job-list-card-wrapper .job-card .job-title {
	font-family: Abel;
	font-style: normal;
	font-weight: normal;
	font-size: 1.35rem;
	word-break: initial;
	line-height: 25px;
	color: #19202d;
	margin: 13px 0px;
}
.job-list-card-wrapper .job-card .location {
	font-family: Abel;
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 18px;
	/* identical to box height */
	margin: 20px 0px;
	color: #5964e0;
	span {
		background-image: url("../../src/assets/desktop/icon-location.svg");
		background-repeat: no-repeat;
		background-size: contain;
		height: 0.7rem;
		width: 0.7rem;
		display: inline-block;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: 0.4rem;
		background-position: center;
		border: none;
	}
}

.load-button-section {
	width: 100%;
	max-height: fit-content;
}

#load-more {
	width: 8rem;
	height: 3rem;
	border: none;
	background-color: rgba(89, 100, 224, 0.8);
	color: #f4f6f8;
	font-family: Abel;
	font-style: normal;
	font-weight: lighter;
	font-size: 0.95rem;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}
