.modal-dialog {
	margin-top: 100px;
	background-color: transparent;
}
.modal-content {
	height: 90%;
	background-color: transparent;
}

.modal-header,
.modal-body,
.modal-footer {
	background-color: $white;
}
.modal-header {
	height: 205px;
	margin-bottom: 30px;
}

.modal-body {
	margin-bottom: 30px;
}

#job-desc-image-wrapper {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 15px;
	margin-top: -50px;
	padding: 3px;
	background-color: inherit;
	border: 0.1px #f4f6f8 solid;
}
#job-desc-image-wrapper img {
	width: 100%;
	height: 100%;
}
