@import "_variables.scss";
@import "_jobDescriptionBody.scss";
.modal-dialog {
	margin-top: 40px;
	background-color: transparent;
}
.modal-content {
	height: 90%;
	background-color: transparent;
	border: none;
}

.modal-header,
.modal-body,
.modal-footer {
	background-color: $white;
	border: none;
}

.modal-header {
	height: 240px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 0px 0px 35px 0px;
}

.modal-body {
	margin-bottom: 30px;
	padding: 2rem;
}
.modal-footer {
	margin-bottom: 25px;
}

.modal-footer #apply-now {
	margin: 15px 0px;
}

.modal-footer #close {
	border: none;
	font-weight: 800;
	font-size: 0.8rem;
}
#job-desc-image-wrapper {
	min-width: 70px;
	max-width: 90px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 15px;
	margin-top: -40px;
	padding: 3px;
	background-color: inherit;
	border: 0.1px #f4f6f8 solid;
	display: block;
}

#company-site {
	width: 147px;
	height: 48px;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: rgba(89, 100, 224, 0.2);
	border-radius: 5px;
}

#companyName {
	font-family: Abel;
	font-style: normal;
	font-weight: lighter;
	font-size: 1.4rem;
	text-align: center;
	word-break: break-all;
	line-break: normal;
	margin: 30px 0px;
	color: #19202d;
	text-transform: capitalize;
}
#company-site a {
	font-family: Abel;
	font-style: normal;
	font-weight: lighter;
	font-size: 1.1rem;
	word-break: initial;
	text-align: center;
	color: $violet;
	outline: none;
	margin-bottom: 10px;
}
