<!DOCTYPE >
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div
			class="modal fade"
			id="descriptionModal"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> -->
					</div>
					<div class="modal-body">...</div>

					<div class="modal-footer" id="modal-footer">
						<button
							type="button"
							class="btn btn-secondary bg-danger"
							data-dismiss="modal"
							id="close"
						>
							X
						</button>
					</div>
				</div>
			</div>
		</div>

		<header class="header" id="id_header"></header>
		<div class="loader-container">
			<span class="loader"><span class="loader-inner"></span></span>
		</div>

		<main id="wrapper" class="main"></main>
	</body>
</html>
